<h3> Select Venue By City<h3>

<%= form_tag venues_search_path, :method => 'get' do %>
  <%= select_tag :city, options_for_select(us_cities)   %>
  <%= select_tag :state, options_for_select(us_states) %>
  <%= select_tag :category, options_for_select(@category.map { |category| [category.name, category.id]}), :include_blank=>true%>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @venues %>
<h2>Results By City:</h2>
  <ul>
  <% @venues.each do |venue| %>
      <li> <%= link_to venue.name, venue_path(venue.id)  %></li>
  <%end  %>
  </ul>
<% end %>

<% if @venues_category_city %>
<h2>Results by Category and City:</h2>
  <ul>
  <% @venues_category_city.each do |venue| %>
      <li> <%= link_to venue.name, venue_path(venue.id)  %></li>
  <%end  %>
  </ul>
<% end %>
