<h1><%= @venue.name %></h1>
General Info: 
<ul>
  <%if @venue.location["address"] %>
    <li><%= @venue.location["address"] %></li>
    <li><%= @venue.location["city"] %></li>
  <% end %>
    <li><%= @venue.location["state"] %></li>
    <li><%= @venue.location["postalCode"] %></li>
    <li><%= @venue.categories.first["name"] %></li>
  <% if @venue.hours %>
    <li><%= @venue.hours["timeframes"].first["days"] %></li>
    <li><%= @venue.hours["timeframes"].first["open"].first["renderedTime"] %></li>
  <% end  %>
  </ul>
